$blue: #469AE0;
$yellow: #FDB631;
$gray: #000000;
$light-gray: #F4F4F4;
$black: #000000;

$red: #C62E47;
$green: #6BAD4A;
$orange: #F08A3B;
$purple: #9870B7;
$white: #FFFFFF;

// Define Colors Hash
$colors: (
  red: $red,
  blue: $blue,
  yellow: $yellow,
  orange: $orange,
  green: $green,
  purple: $purple,
  black: $black,
  white: $white,
  gray: $light-gray,
);

// Text Colors

@each $color-id, $color in $colors {
  .#{"" + $color-id}.#{"" + $color-id} { color: $color; }
}

// Backgrounds
@each $color-id, $color in $colors {
  .bg-#{"" + $color-id} {
    background: $color;
  }
}

// Border Colors

@each $color-id, $color in $colors {
  .border-#{"" + $color-id} {
    border-color: $color;
  }
}
