// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Define fonts for body and headers
$base-font: "Nunito", "sans-serif";
$header-font: "Nunito", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$small-size: 14px;
$base-size: 17px;
$medium-size: 19px;
$big-size: 25px;
$base-height: 1.428571429;
$base-radius: 2px;
$bold-size: 20px;
$font-light: 300;

.lh-double {
  line-height: 2.0;
}

// Text Alignment
.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.taj { text-align: justify; }

