// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
// Define fonts for body and headers
$base-font: "Roboto Condensed", "sans-serif";
$header-font: "Roboto Condensed", "sans-serif";

$small-size: 14px;
$base-size: 17px;
$medium-size: 19px;
$big-size: 25px;
$base-height: 1.428571429;
$base-radius: 2px;
$bold-size: 20px;
$font-light: 300;

.lh-double {
  line-height: 2.0;
}

p {
  font-size: $base-size;
}

// Text Alignment
.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.taj { text-align: justify; }

