// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

// Define fonts for body and headers
$base-font: "Roboto", "sans-serif";
$header-font: "Roboto", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$small-size: 13px;
$base-size: 16px;
$medium-size: 18px;
$big-size: 25px;
$base-height: 1.428571429;
$base-radius: 2px;
$bold-size: 20px;
$font-light: 300;
