// Flex General
.flex { display: flex; }
.iflex { display: inline-flex; }
.flex-grow { flex-grow: 1; }
.fb100 { flex-basis: 100%; }
.fdr { flex-direction: row; }
.fdrr { flex-direction: row-reverse; }
.fdc { flex-direction: column; }
.fdcr { flex-direction: column-reverse; }

// Content Justification
.jcc { justify-content: center; }
.jcsb { justify-content: space-between; }
.jcsa { justify-content: space-around; }
.jcfs { justify-content: flex-start; }
.jcfe { justify-content: flex-end; }

// Item Alignment
.aic { align-items: center; }
.aifs { align-items: flex-start; }
.aife { align-items: flex-end; }
.ais { align-items: stretch; }
.aib { align-items: baseline; }

// Content Alignment
.acc { align-content: center; }
.afcs { align-content: flex-start; }
.acfe { align-content: flex-end; }
.acs { align-content: stretch; }
.acb { align-content: baseline; }

// Columns
.fcols-2 > * { width: 50%; }
