.banner {
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner-content {
  h1, .h1 {
    font-size: floor(($font-size-base * 2.55));
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 25px;
    font-weight: lighter;
    color: $gray-lighter;
    margin-bottom: 30px;
  }
}

.banner-wo-header-full { min-height: calc(100vh - 60px);}
.banner-wo-header-two-thirds { min-height: calc(66vh - 60px);}
.banner-wo-header-half { min-height: calc(50vh - 60px);}
.banner-wo-header-third { min-height: calc(33vh - 60px);}

.banner-full { min-height: 100vh;}
.banner-two-thirds { min-height: 66vh;}
.banner-half { min-height: 50vh;}
.banner-third { min-height: 33vh;}
