// Button Default
.btn {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  font-weight: 100;
  border-width: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: currentColor;
  opacity: 0.85;
  font-size: inherit;
  &:hover {
    opacity: 1;
  }
}

.navbar {
  border-radius: 5px;
}

// Button Sizes
.xs { font-size: $small-size; }
.sm { font-size: $base-size; }
.md { font-size: $medium-size; }
.lg { font-size: $big-size; }

// Border Styles
  .sld {border-style: solid;}
  .dbl {border-style: double;}
  .dot {border-style: dotted;}
  .dsh {border-style: dashed;}
  .rid {border-style: ridge;}
  .ist {border-style: inset;}
  .ost {border-style: outset;}
  .grv {border-style: groove;}
  .non {border-style: none;}
  .hdd {border-style: hidden;}

// Border Radius
  .semi-rounded { border-radius: $small-size; }
  .full-rounded { border-radius: $medium-size; }


// ***** OLD Buttons for REVIEW *****
.btn-navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.btn-primary.btn-lg {
  font-size: $font-size-h4;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  color: $white;
  font-weight: 500;
}

.btn-warning.btn-orange {
  background-color: $orange;
  &:hover {
    opacity:0.8;
  }
}

.btn-danger.btn-yellow {
  background-color: $yellow;
  border-color: $yellow;
  &:hover {
    opacity:0.8;
  }
}

.btn-red {
  font-size: $font-size-h4;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  color: $red;
  font-weight: 100;
  background: transparent;
  border: $red solid 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-black {
  font-size: $font-size-base;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  font-weight: 100;
  background: transparent;
  border: $black solid 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  width: 100%;
}
